<!DOCTYPE html>
<html lang="ru">
<title>Гарри Поттер</title>
<link rel="stylesheet" type="text/css" href="stylePott.css">

<head>
    <link rel="shortcut icon" href="https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container">
                    <a class="navbar-brand" v-on:click="makeActive('home')">Гарри Поттер</a>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav" id=main1>
                            <a class="nav-link" data-toggle="dropdown" v-on:click="makeActive('home')">Главная</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('potter')">Поттерианна</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('person')">Персонажи</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('sobit')">События</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('magaz')">Магазин</a>
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" v-on:click="makeActive('chat')">Чатик</a>
                        </ul>
                        <form class="form-inline mr-auto" target="_self"></form>

                        <li class="btn btn-light action-button" role="button" href="#"><a href="form.html">Войти</a></li>
                    </div>
                </div>
            </nav>

            <div class="container hero">
                <div class="row">
                    <form id=main2 v-cloak>
                        <p>«Га́рри По́ттер» (англ. «Harry Potter») — серия романов, написанная британской писательницей
                            Дж. К. Роулинг. Книги представляют собой хронику приключений юного волшебника Гарри
                            Поттера, а также его друзей Рона Уизли и Гермионы Грейнджер, обучающихся в школе
                            чародейства и волшебства Хогвартс. Основной сюжет посвящён противостоянию Гарри и тёмного
                            волшебника по имени лорд Волан-де-Морт, в чьи цели входит обретение бессмертия и
                            порабощение магического мира.</p>
                        <div class="bar">
                            <a v-bind:class="{ 'active': layout == 'list'}" v-on:click="layout = 'list'">
                                Список</a>
                            <a v-bind:class="{ 'active': layout == 'grid'}" v-on:click="layout = 'grid'">
                                Сетка</a>
                        </div>

                        <ul v-if="layout == 'grid'" class="grid">
                            <li v-for="a in articles">
                                <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.large" /></a>
                            </li>
                        </ul>

                        <ul v-if="layout == 'list'" class="list">
                            <li v-for="a in articles">
                                <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.small" /></a>
                                <p>{{a.title}}</p>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>

    <script>
        var demo = new Vue({
            el: '#main1',
            data: {
                active: 'potter'
            },
            methods: {
                makeActive: function (item) {
                    if (item == 'home') {
                        window.location.href = 'home.html';
                    }
                    if (item == 'sobit') {
                        window.location.href = 'sobit.html';
                    }
                    if (item == 'person') {
                        window.location.href = 'person.html';
                    }
                    if (item == 'magaz') {
                        window.location.href = 'magaz.html';
                    }
                    if (item == 'chat') {
                                window.location.href = 'chat.html';
                            }
                    this.active = item;
                }
            }
        });
    </script>

    <script>
        var demo = new Vue({
            el: '#main2',
            data: {
                layout: 'grid',
                articles: [
                    {
                        "title": "Гарри Поттер и философский камень",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Гарри_Поттер_и_Философский_камень",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20F.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20F.jpg"
                        }
                    },
                    {
                        "title": "Гарри Поттер и Тайная комната",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Гарри_Поттер_и_Тайная_комната",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20TK.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20TK.jpg"
                        }
                    },
                    {
                        "title": "Гарри Поттер и узник Азкабана",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Гарри_Поттер_и_узник_Азкабана",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20PA.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20PA.jpg"
                        }
                    },
                    {
                        "title": "Гарри Поттер и Кубок огня",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Гарри_Поттер_и_Кубок_Огня",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/Hp%20and%20KO.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/Hp%20and%20KO.jpg"
                        }
                    },
                    {
                        "title": "Гарри Поттер и Орден Феникса",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Гарри_Поттер_и_Орден_Феникса",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20OF.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20OF.jpg"
                        }
                    },
                    {
                        "title": "Гарри Поттер и Принц-полукровка",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Гарри_Поттер_и_Принц-полукровка",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20PP.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20PP.jpg"
                        }
                    },
                    {
                        "title": "Гарри Поттер и Дары Смерти",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Гарри_Поттер_и_Дары_Смерти",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20DS.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20DS.jpg"
                        }
                    },
                    {
                        "title": "Гарри Поттер и Проклятое дитя",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Гарри_Поттер_и_Проклятое_дитя_(пьеса)",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20PD.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/HP%20and%20PD.jpg"
                        }
                    },
                    {
                        "title": "Сказки Барда Бидля",
                        "url": "https://harrypotter.fandom.com/ru/wiki/Сказки_барда_Бидля_(реальная_книга)",
                        "image": {
                            large: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/SBB.jpg",
                            small: "https://gitlab.com/vv_tanya/web/-/raw/master/vue/SBB.jpg"
                        }
                    }
                ]
            }
        });
    </script>
</body>